# Compiled class file
*.class

.DS_Store
.idea/
*.iml
target/
 
# Log file
*.log

*.jar
*.war
*.nar
*.ear
*.zip
*.tar
*.tar.gz
*.rar
*.settings
*.project
.settings/
*.settings 
.classpath 
.project 
*.idea 
logs 
.factorypath 
*.mvn 
.mvn 
*.iml 
*.factorypath 
*.node_modules 
node_modules 
.sts4-cache
